.conteiner-pai {
  display: flex;
  width: 65%;
  height: 850px;
}
.conteiner-foto {
  background-color: rgb(194, 20, 20);
}
.fotoDePerfil {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.cor-lado {
  display: flex;
  width: 5%;
  height: 850px;
  background-color: rgba(0, 0, 0, 0.883);;
  /* margin-right: 10px; */
}
#telefoneInformacoes,
#email,
#endereco,
#idiomas {
  display: flex;
}
.fotoPequenaWhatsap,
.fotoPequenaEmail,
.FotoPequenaendereco,
.fotoIdioma {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.conteiner-informações {
  display: flex;
  background-color: rgba(0, 0, 0, 0.883);
}
h4,
h1,
h3 {
  color: rgb(255, 255, 255);
}
#informacoesTecnicas {
  margin-left: 20px;
}
